@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum:wght@400;600&display=swap');

* {
    font-family: "Gowun Dodum", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.8;
    padding: 20px;
    font-size: 18px;
}

.me {
    background-color: skyblue;
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-container img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-description {
    flex: 1;
}

.profile-description h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.profile-description p {
    font-size: 18px;
    margin: 5px 0;
}

.social-links {
    margin-top: 15px;
}

.social-links a {
    text-decoration: none;
    color: #4e91fc;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.track,
.single,
.study {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.track h3,
.single h3,
.study h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.study ul {
    list-style: none;
    padding: 0;
}

.study li {
    background: #f0f4fa;
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}