@charset "utf-8";

body {
    background-color: #080121;
    padding: 20px;
    height: 100vh;
    /* 화면 전체 높이 */
    position: relative;
    /* 부모 요소 기준 설정 */
}

.header,
.footer {
    text-align: center;
    background-color: #120239;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #a580ca;
}

.footer {
    position: fixed;
    bottom: 0;
    /* 아래 고정*/
    width: 100%;
}

.content {
    background: #120239;
    border-radius: 5%;
    /* 둥글게게*/
    padding: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    position: absolute;
    /* 위치 지정 */
    top: 50%;
    /* 부모 요소의 50% 아래 */
    left: 50%;
    /* 부모 요소의 50% 오른쪽 */
    transform: translate(-50%, -50%);
    /* 요소의 중심을 기준으로 이동 */
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #a580ca;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content ul li {
    margin-bottom: 15px;
    font-size: 1.1rem;
    text-align: center;
    /* 버튼 가운데 정렬 */
}

.content ul li .toggle-btn {
    width: 200px;
    /* 버튼 가로 */
    height: 50px;
    /* 버튼 높이 */
    display: inline-block;
    /* 버튼 정렬 유지 */
    font-size: 1rem;
    /* 버튼 텍스트 크기 */
    text-align: center;
    line-height: 30px;
    /* 버튼 높이에 맞게 텍스트 정렬 */
}

#b1 {
    background-color: #a580ca;
}

#b2 {
    background-color: #4a1985;
}

#b3 {
    background-color: #260656;
}

#b4 {
    background-color: #120239;
}

#b5 {
    background-color: #080121;
}

#b6 {
    background-color: #e1b1e8;
    color: #080121;
}

.content ul li .hidden-content {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
    color: #e1b1e8;
}

.text-center button {
    margin: 5px 0;
}